* * *
<img src='./img/ncair.jpg' style='width:5200px;height:250px'/>

* * *

# Python Crash Course

This prepares you for a 3 weeks challenge. The goals:
1. Be able to write Python code;
2. Understand the ideas behind object oriented programming.

What is Python?

Python is a programming language. There are various other programming languages:

Java
C
C++
Ruby
and many more.

A programming language allows you to write a program which is a sequence of instructions that specifies how to perform a computation.

When writing a program you need two things:

Something to save the code (a text editor for example)
Something to run the code
We will be using a combination of these 2 things called notebooks.

## Installing Python

There are various distributions of Python, we will use Anaconda which comes packaged with a variety of other useful tools (including the notebooks I mentioned above).

To install it on your personal machine follow these steps:

Go to this webpage: https://www.continuum.io/downloads.

Identify and download the version of **Python 3** for your operating system (Windows, Mac OSX, Linux).
Run the installer.
We will use a Jupyter notebook which runs in your browser. To open a local server find the Continuum navigator and click on Jupyter. You do not need to be connected to the internet to use this.

## Interacting with Python

Once you have installed Anaconda, you will now have Python on your machine. You can interact with Python in multiple ways:


### The Python shell


- On Windows open a "Command Prompt":
  
- On Mac OS or Linux open a "Terminal":
  
This is a simple utility that allows you to give commands to your computer. In there type:

```bash
python
```

This should then look something like:

```python
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:53:06) 
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> 
```
 -->
The `>>>` is a prompt for you to type a command. Let us carry out a straightforward addition:


```python
>>> 2 + 2
```

and press `ENTER`:


```python
>>> 2 + 2
4
```

**This is not a very efficient and practical way of using Python.** We will instead learn to use a [Jupyter notebook](http://jupyter.org/).


### Jupyter notebooks

If you are still in the Python shell (with a `>>>` waiting for you to give a command) then type:

```python
>>> exit()
```

This will leave the prompt and you will now be back at the Command Prompt or the Terminal window. Here simply type:

```bash
jupyter notebook
```

After a little moment this will open a Jupyter notebook page in a browser. Note that this is all just running on your computer and you do not need to be connected to the internet to use a Jupyter notebook.

Click on `New` and create a notebook: we can start to write code now.



## This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [23]:
my_list = ['a','b','c']

In [24]:
my_list.append('d')

In [25]:
my_list

['a', 'b', 'c', 'd']

In [26]:
my_list[0]

'a'

In [27]:
my_list[1]

'b'

In [28]:
my_list[1:]

['b', 'c', 'd']

In [29]:
my_list[:1]

['a']

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 'b', 'c', 'd']

In [32]:
nest = [1,2,3,[4,5,['target']]]

In [33]:
nest[3]

[4, 5, ['target']]

In [34]:
nest[3][2]

['target']

In [35]:
nest[3][2][0]

'target'

### Dictionaries

In [36]:
d = {'key1':'item1','key2':'item2'}

In [37]:
d

{'key1': 'item1', 'key2': 'item2'}

In [38]:
d['key1']

'item1'

### Booleans

In [39]:
True

True

In [40]:
False

False

### Tuples

In [41]:
t = (1,2,3)

In [42]:
t[0]

1

In [43]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [44]:
{1,2,3}

{1, 2, 3}

In [45]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [46]:
1 > 2

False

In [47]:
1 < 2

True

In [48]:
1 >= 1

True

In [49]:
1 <= 4

True

In [50]:
1 == 1

True

In [51]:
'hi' == 'bye'

False

## Logic Operators

In [52]:
(1 > 2) and (2 < 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Flow control

- In Python indentation is important!
- In all languages indentation is good practice, in Python it is a requirement.

## if,elif, else Statements

In [55]:
if 1 < 2:
    print('Yep!')

Yep!

In [56]:
if 1 < 2:
    print('yep!')

yep!

In [57]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [58]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [59]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [60]:
n = 11 
if n <= 5:
    value = 1
elif n % 2 == 0:  
    value = 2
else: 
    value = 3
value

3

## for Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [65]:
for subject in ["Queueing Theory", "Game Theory", 
                "Inventory Theory", "Reliability Theory", 
                "Project Management", "Decision Analysis"]:
    if "Theory" in subject:
        print(subject)

Queueing Theory
Game Theory
Inventory Theory
Reliability Theory

## while Loops

In [66]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [67]:
count = 0  
total = 0 
while count < 10: 
    count += 1  
    total += count 
total

55

## range()

In [68]:
range(5)

range(0, 5)

In [69]:
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [71]:
x = [1,2,3,4]

In [72]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [73]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [74]:
#To create a function we use the 'def' statement:
def hi():
    """
    This function simply prints a short statement. 
    
    This is a shorter way of writing documentation, 
    it is good practice to always include a 
    description of what a function does.
    """
    print("Hello everybody!")

hi()

Hello everybody!

In [75]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [76]:
my_func

In [77]:
my_func()

default

In [78]:
my_func('new param')

new param

In [79]:
my_func(param1='new param')

new param

In [80]:
def square(x):
    return x**2

In [81]:
out = square(2)

In [82]:
print(out)

4

## lambda expressions

In [83]:
def times2(var):
    return var*2

In [84]:
times2(2)

4

In [85]:
lambda var: var*2

## map and filter

In [86]:
seq = [1,2,3,4,5]

In [87]:
map(times2,seq)

In [88]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [89]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [90]:
filter(lambda item: item%2 == 0,seq)

In [91]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [92]:
st = 'hello my name is Sam'

In [93]:
st.lower()

'hello my name is sam'

In [94]:
st.upper()

'HELLO MY NAME IS SAM'

In [95]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [96]:
tweet = 'Go Sports! #Sports'

In [97]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [98]:
tweet.split('#')[1]

'Sports'

In [99]:
d

{'key1': 'item1', 'key2': 'item2'}

In [100]:
d.keys()

dict_keys(['key1', 'key2'])

In [101]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [102]:
lst = [1,2,3]

In [103]:
lst.pop()

3

In [104]:
lst

[1, 2]

In [105]:
'x' in [1,2,3]

False

In [106]:
'x' in ['x','y','z']

True

# Great Job!